StepFunction_Validação.txt
{
  "Comment": "A description of my state machine",
  "StartAt": "Validar dados da conta",
  "States": {
    "Validar dados da conta": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Conta Válida?"
    },
    "Conta Válida?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "DynamoDB PutItem"
        }
      ],
      "Default": "Enviar e-mail falha"
    },
    "DynamoDB PutItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Arguments": {
        "TableName": "MyDynamoDBTable",
        "Item": {
          "Column": {
            "S": "MyEntry"
          }
        }
      },
      "Next": "Enviar e-mail sucesso"
    },
    "Enviar e-mail sucesso": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "Message": "{% $states.input %}"
      },
      "Next": "Êxito"
    },
    "Êxito": {
      "Type": "Succeed"
    },
    "Enviar e-mail falha": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "Message": "{% $states.input %}"
      },
      "Next": "Falha"
    },
    "Falha": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata"
}